:root{
    --primary: #83B719;
    --secondary: #00447A;
    --grey-1: #F6F6F6;
    --grey: #D5D5D5;
    --grey-2: #dddddd;
    --lightgrey: #E0EDC5;
    --dark: #2B2B2B;
    --form: rgba(0,68,122,.75);
    --panel: rgba(11,19,52,70);
    --darkblue: #060A1B;
    --darkblue2: #0B1334;
    --bluesky: #86DAD7;
    --aqua: #2CBEB9;
    --lightblue: #80A1BC;
    --blue: #80A1BC;
    --lightgreen: #E0EDC5;
    --nav-bg: rgba(0,0,0,.65);
}

/* typography*/

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

main{
    background: var(--blue); 
} 

figure, p{
    margin: 0;
}
h2{
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

h2:before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(assets/isologo.svg) no-repeat 100%;
    background-size: contain;
    margin: 16px;
}

header.banner{
    padding: 6em 0;
    background: var(--blue); 
}

header.banner:after{
    content:'';
    width: 100%;
    height: 50px;
    background: var(--blue);
    border-bottom-right-radius: 5em !important;
    border-bottom-left-radius: 5em !important;
}
 
.bg-green{
    background: var(--primary)
}

.bg-blue{
    background: var(--secondary)
}

.bg-grey{
    background: var(--grey);
}

.border-green{
    border-color: var(--primary)!important
}

.border-blue{
    border-color: var(--secondary)!important
}

.bg-gradient{
    background: linear-gradient(#131324, #0E1386, #06083D)
}

p{
    font-weight: semibold;
}

strong{
    font-weight: bold;
}

.menu-principal{
    background: var(--nav-bg)
}
