:root{
    --primary: #83B719;
    --secondary: #00447A;
    --grey-1: #F6F6F6;
    --grey: #D5D5D5;
    --grey-2: #dddddd;
    --lightgrey: #E0EDC5;
    --dark: #2B2B2B;
    --form: rgba(0,68,122,.75);
    --panel: rgba(11,19,52,70);
    --darkblue: #060A1B;
    --darkblue2: #0B1334;
    --bluesky: #86DAD7;
    --aqua: #2CBEB9;
    --lightblue: #80A1BC;
    --blue: #80A1BC;
    --lightgreen: #E0EDC5;
    --nav-bg: rgba(0,0,0,65);
}

/* typography*/

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.bg-green{
    background: var(--primary)
}

.bg-blue{
    background: var(--secondary)
}

.border-green{
    border-color: var(--primary)!important
}

.border-blue{
    border-color: var(--secondary)!important
}

.bg-gradient{
    background: linear-gradient(#131324, #0E1386, #06083D)
}

p{
    font-weight: semibold;
}

strong{
    font-weight: bold;
}