:root{
    --primary: #83B719;
    --secondary: #00447A;
    --grey-1: #F6F6F6;
    --grey: #D5D5D5;
    --grey-2: #dddddd;
    --lightgrey: #E0EDC5;
    --dark: #2B2B2B;
    --form: rgba(0,68,122,.75);
    --panel: rgba(11,19,52,70);
    --darkblue: #060A1B;
    --darkblue2: #0B1334;
    --celeste: #00B1E9;
    --bluesky: #86DAD7;
    --aqua: #2CBEB9;
    --lightblue: #80A1BC;
    --blue: #80A1BC;
    --lightgreen: #E0EDC5;
    --nav-bg: rgba(0,0,0,.65);
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

main{
    background: var(--blue); 
} 

.menu-principal{
    background: var(--nav-bg)
}
.nav-item{
    padding: 0 8px;
}

.nav-link{
    color: white;
    font-size: 14px;
}

.btn-inscribete{
    background: rgba(0, 0, 0, .3);
    border: 1px solid var(--primary);
    color: var(--primary);
    font-weight: 600;
    font-size: 14px;
    padding: 8px 24px;
}

.btn-inscribete:hover,
.btn-inscribete:active,
.btn-inscribete:focus{
    background: var(--primary);
    color: black;
}

header.banner{
    padding: 6em 0;
    background: var(--blue); 
    position: relative;
    overflow: hidden;
}

header.banner:before{ 
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-image: url(assets/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-color: transparent;
    margin-top: -100px;
    z-index: 1; 
}

header.banner:after{ 
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(9, 18, 57, .65);
    z-index: 2;
}

header.banner .container{
    z-index: 3;
    position: relative;
}

/* typography*/

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

figure, p{
    margin: 0;
}

h2{
    text-align: center;  
    margin-bottom: 1.8em;
    font-size: 40px;
    font-weight: 200;
    color: var(--secondary);
}

h2.text-light{
    color: #ffffff;
}

h2.text-light.icon-green:before,
h2:before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(assets/isotipo-green.svg) no-repeat 100%;
    background-size: contain;
    margin-right: 16px;
}

h2.text-light:before{
    background: url(assets/isotipo-lightblue.svg) no-repeat 100%;
}

h2 strong{
    font-weight: 600
}

p, h4{
    font-weight: 400;
}

strong{
    font-weight: 600;
} 
 
.text-green, .text-primary{
    color: var(--primary)!important;
}

.text-blue{
    color: var(--secondary)
}

.text-aqua{
    color: var(--aqua)
}

.text-grey{
    color: var(--grey);
}
/* backgrounds */
 
.bg-green, .bg-primary{
    background: var(--primary)!important;
}

.bg-blue{
    background: var(--secondary)
}

.bg-aqua{
    background: var(--aqua)
}

.bg-grey{
    background: var(--grey);
}

.bg-gradient{
    background: linear-gradient(#131324, #0E1386, #06083D)!important;
    position: relative;
}

.bg-gradient:before{ 
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-attachment: fixed;
    background-position: center center;
    background-color: transparent;
    z-index: 1; 
}

.bg-gradient header,
.bg-gradient section{
    z-index: 2; 
    position: relative;
}

.bg-gradient section{
    background: var(--panel);
    color: #ffffff;
}

.bg-gradient .card{
    border: 1px solid var(--celeste);
}

.bg-gradient .card-header{
    color: var(--celeste);
    border-bottom: 1px solid var(--celeste); 
}

.bg-gradient .card h4{
    color: var(--celeste);
}

.bg-gradient .card.card-aqua{
    border: 1px solid var(--aqua);
}

.bg-gradient .card-aqua .card-header{
    color: var(--aqua);
    border-bottom: 1px solid var(--aqua); 
}

.bg-gradient .card.card-aqua h4{
    color: var(--aqua);
}

.bg-gradient .card.card-primary{
    border: 1px solid var(--primary);
}

.bg-gradient .card-primary .card-header{
    color: var(--primary);
    border-bottom: 1px solid var(--primary); 
}

.bg-gradient .card.card-primary h4{
    color: var(--primary);
}

.circle-image{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid var(--celeste);
}

.circle-image img{
    object-fit: cover;
    height: 100%;
}

.card-aqua .circle-image{
    border: 4px solid var(--aqua);
}

.card-primary .circle-image{
    border: 4px solid var(--primary);
}

.cronograma-image{ 
    width: 100%;
    height: 240px;
    overflow: hidden;
    border-radius: 8px;
    border: 4px solid var(--celeste);
}

.cronograma-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;    
} 

.crono .col-1 .bullet{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 8px;
    background: var(--primary);
    border: 8px solid var(--lightgrey);
} 

.crono .col-1 .bullet.aqua{
    background: var(--aqua);
    border: 8px solid var(--bluesky);
}

.crono .col-1 .bullet.blue{
    background: var(--secondary);
    border: 8px solid var(--lightblue);
}

.crono .col-1 .line{
    height: 90%;
    width: 4px;
    background: var(--grey);
    margin: 0 auto;
    display: block;
}

/* borders */

.border-green, .border-primary{
    border-color: var(--primary)!important
}

.border-blue{
    border-color: var(--secondary)!important
}

.border-aqua{
    border-color: var(--aqua)!important
}

/* video */

.container-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.container-video .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#inscribete{
    background-color: var(--lightblue);
    position: relative;
}

#inscribete:before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-image: url(assets/form-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0;
    background-color: transparent;
    z-index: 1;
    margin-top: -50px; 
}

#inscribete:after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(9, 18, 57, .65);
    z-index: 2; 
}

.form{
    background: rgba(0, 68, 122, .75);
    border: 1px solid var(--secondary);
    color: #ffffff;
    z-index: 3;
    position: relative;
}

.form legend{
    font-weight: 600; 
}

.carousel-control-prev,
.carousel-control-next
{
    background: url('assets/icon-chevron.svg') no-repeat center;
}

.carousel-control-prev{
    transform: rotate(180deg);
}

footer{
    background: var(--darkblue2);
}

footer nav{
    background: var(--darkblue);
}